[submodule "vendor/src/github.com/hazbo/blackfriday"]
	path = vendor/src/github.com/hazbo/blackfriday
	url = https://github.com/hazbo/blackfriday.git
[submodule "vendor/src/github.com/hazbo/go"]
	path = vendor/src/github.com/hazbo/go
	url = https://github.com/hazbo/go.git
[submodule "vendor/src/github.com/hazbo/cli"]
	path = vendor/src/github.com/hazbo/cli
	url = https://github.com/hazbo/cli.git
[submodule "src/wren"]
	path = src/wren
	url = https://github.com/hazbo/wren.git
