[submodule "vendor/src/github.com/hazbo/cli"]
	path = vendor/src/github.com/hazbo/cli
	url = https://github.com/hazbo/cli.git
[submodule "src/wren"]
	path = src/wren
	url = https://github.com/munificent/wren.git
